
@font-face {
  font-family: 'NexaBold';
  src: 		url('NexaBold.eot?#iefix') format('embedded-opentype'), 
  		 	url('NexaBold.otf')  format('opentype'),
	     	url('NexaBold.woff') format('woff'), 
	     	url('NexaBold.ttf')  format('truetype'), 
	     	url('NexaBold.svg#NexaBold') format('svg');
  font-weight:bold;
  font-style: normal;
}
